.banner {
    background-size: cover;
    background-position:top c;
    height: 300px;
    margin-bottom: 20px;
}

.card-img-top {
    height: 500px;
    width: auto;
}

.content {
    padding-left: 20px;
    .card-title
    {
    font-size: 32px;
    font-weight: bold;
    }
    ul{
        list-style-type:none;
    }

}
